@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Koppelingen";

}
@using Web_Applicatie.Models

<h2>Alle mogelijke koppelingen:</h2>
<table class=" table-bordered table-hover">
	<tr>
		<th>
			Software
		</th>
		<th>
			Omschrijving
		</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.ActionLink((string)item.Naam, "Connectie", "Connectie", (Software)item, null)
			</td>
			<td>
				@item.Description	
			</td>
		</tr>

	}
</table>


